.menu-label:hover{
    transform: scale(1.1);
    transition: transform 250ms ease;
}

.menu-label:hover, .menu-label:hover > *{
    cursor: pointer;
}

/* Before click */
.topnav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: -100%;
    left: 0;
    /* Navigatie open/close animatie */
    transition: top 500ms cubic-bezier(1,0,1,.71) 200ms;
    width: 100%;
    height: 100%;
    background-color: var(--grey99);
    z-index: 9;
}

/* After click */
.active-nav{
    top: 0;
    height: 100%;
    z-index: 10;
}

.active-nav::before{
    content: "";
    width: 50%;
    height: 120%;
    top: -120%;
    left: 0;
    background-color: var(--grey20);
    position: absolute;
    animation: navSlide 1100ms ease-out; 
    z-index: 11;
}

.active-nav::after{
    content: "";
    width: 50%;
    height: 120%;
    top: -120%;
    right: 0;
    background-color: var(--grey20);
    position: absolute;
    animation: navSlide 1300ms ease-out;
    z-index: 11;
}

@keyframes navSlide{
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(220%);
    }
}

.show{
    display: block;
}

.nav-btn{
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2em 0;
}

.nav-close{
    background: none;
    border: none;
    color: var(--grey50);
    font: var(--font-title);
    font-size: 1.1em;
    text-transform: uppercase;
    margin-right: 2em;
    z-index: 20;
}

.nav-close:hover{
    cursor: pointer;
    color: var(--bg-grey);
    transform: scale(1.1);
    transition: transform 250ms ease-out;
}

.nav-close::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--bg-grey);
    position: absolute;
    display: flex;
}

.nav-close:hover::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--bg-grey);
    position: absolute;
    display: flex;
    transition: width 250ms ease-out;
}

.nav-ul{
    height: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 1em;
}

.nav-ul li{
    padding: 0.5em;
    height: 100%;
    width: 100%;
    margin: auto;
    justify-content: center;
    display: block;
}

.nav-ul li::after, .nav-ul li::before{
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--grey99);
    position: absolute;
}

.nav-ul li:hover::after, .nav-ul li:hover::before{
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--grey99);
    position: absolute;
    transition: width 550ms ease-out;
    z-index: 21;
}

.nav-ul li > a:hover{
    cursor: pointer;
    color: var(--grey99);
    background-color: var(--grey20);
    transform: scale(1.1);
    transition: transform 250ms ease-out;
}

.nav-ul li a{
    color: var(--grey50);
    font: var(--font-title);
    text-transform: uppercase;
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
