/* Variables */
:root{
    --grey99: #3C3B34;
    --grey70: #9B9A92;
    --grey50: #C6C5BD;
    --grey20: #EAEAE6;
    --bg-grey: #F6F6F4;
    --accent-red: #FF6B6B;

    --font-title: 1.7em AktivBD, sans-serif;
    --font-title-large: 2.5em AktivBD, sans-serif;
    --font-subtitle: 1.1em AktivLT, sans-serif;
    --font-subtitle-large: 1.8em AktivLT, sans-serif;
    --font-abstract: 0.95em AktivRG, sans-serif;
    --font-abstract-large: 1.1em AktivRG, sans-serif;

    --pad-section: 2.5em 1.1em;
    --med-padding: 2.5em 2em;
    --large-padding: 2.5em 4em;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* Font import */
@font-face {
    font-family: 'AktivBD';
    src: url(../assets/Font/AktivGrotesk_Bd.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'AktivLT';
    src: url(../assets/Font/AktivGrotesk_Lt.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: 'AktivMD';
    src: url(../assets/Font/AktivGrotesk_Md.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'AktivRG';
    src: url(../assets/Font/AktivGrotesk_Rg.ttf);
    font-weight: normal;
}

/* General */
html{
    scroll-behavior: smooth;
}

body{
    font: 100%/1.4 AktivRG, sans-serif;
    background-color: var(--bg-grey);
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1em 1.1em;
}

.logo{
    width: 3em;
}

.menu-label{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-size: 0.8em;
    gap: 0.3em;
}

.menu-label:hover{
    transform: scale(1.1);
    transition: transform 250ms ease;
    cursor: pointer;
}

.menu-btn{
    border: none;
    background-color: transparent;
}

.menu-icon{
    color: var(--grey99);
}

.menu-icon:hover{
    cursor: pointer;
}

/* Banner Image */
.banner-img{
    width: 100%;
    height: 8em;
    object-fit: cover;
}

/* Hero */
.hero{
    display: flex;
    flex-direction: column;
    padding: var(--pad-section);
    overflow-x: hidden;
}

.hero .intro{
    display: flex;
    flex-direction: column;
}

.hero .intro h1{
    font: var(--font-title);
    color: var(--grey99);
    margin-bottom: 0.2em;
    text-align: left;
}

.hero .intro h1 span{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    display: block;
}

.hero .intro .p-intro{
    font: var(--font-subtitle);
    color: var(--grey70);
    margin-bottom: 2em;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.hero .abstract{
    color: black;
    font: var(--font-abstract);
    margin-bottom: 1.4em;
}

.hero .cta{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2em;
    margin-bottom: 0.5em;
}

.hero .cta a{
    text-decoration: underline;
}

.hero .primary a{
    color: var(--grey70);
}

.hero .primary .arrow-right{
    fill: var(--grey70);
}

.hero .secondary a{
    color: var(--accent-red);
}

.hero .secondary .arrow-right{
    fill: var(--accent-red);
}

.arrow-right{
    scale: 0.8;
}

.hero-sideimg{
    display: none;
}

/* Quote */
.quote{
    background-color: var(--grey70);
    padding: var(--pad-section);
    display: flex;
    flex-direction: column;
    /* transform: translateX(-110%); */
}

.quote .quote-heading{
    margin-bottom: 1em;
}

.quote .quote-heading h2{
    color: var(--bg-grey);
    font: var(--font-title);
}

.quote .quote-phonetic{
    color: var(--grey99);
    font-size: 1.1em;
}

.quote .quote-def{
    color: var(--grey20);
}

.quote header{
    padding: 0;
    display: block;
}

/* Steps */
.steps{
    background-color: var(--bg-grey);
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2.5em 0;
    overflow-x: hidden;
}

.steps-title{
    /* padding: 1em 0.8em; */
    padding-left: 0.8em;
    font: var(--font-title);
    color: var(--grey99);
    text-align: left;
}

.step{
    display: flex;
    flex-direction: column;
}

.step-heading{
    background-color: var(--grey99);
    width: auto;
    padding: 0.6em 1.1em;
    display: flex;
    column-gap: 0.8em;
    border-color: var(--grey70);
    max-width: 18em;
    border-width: 3px;
}

.step-count{
    color: var(--bg-grey);
    font: var(--font-subtitle);
}

.step-count-extra{
    display: none;
}

.step-left{
    margin-right: auto;
    border-style: solid solid solid none;
    border-top-right-radius: 0.6em;
    border-bottom-right-radius: 0.6em;
    /* align-items: center; */
}

.step-right{
    margin-left: auto;
    border-style: solid none solid solid;
    border-top-left-radius: 0.6em;
    border-bottom-left-radius: 0.6em;
    /* flex-direction: row-reverse; */
    /* align-items: center; */
    /* text-align: right; */
}

.step-title{
    color: var(--bg-grey);
    font: var(--font-subtitle);
}

.step-desc-wrap{
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    margin-top: 1.5em;
    padding: 0 1.1em;
}

.desc-right{
    align-items: flex-end;
}

.step-subtitle{
    font: var(--font-subtitle);
    color: var(--grey70);
}

.text-right{
    text-align: right;
}

.step-desc{
    font: var(--font-abstract);
    color: var(--grey99);
    max-width: 18em;
}

.step-image{
    display: none;
}

/* Cases */
.cases{
    background-color: var(--grey99);
    padding: var(--pad-section);
    display: flex;
    flex-direction: column;
    gap: 2em;
    overflow-x: hidden;
}

.cases-title{
    font: var(--font-title);
    color: var(--bg-grey);
}

.case-info{
    display: flex;
    flex-direction: column;
}

.case-title{
    color: var(--grey20);
    font-family: AktivBD;
    margin-bottom: 0.5em;
}

.case-desc{
    color: var(--bg-grey);
    font: var(--font-subtitle);
}

.case-link{
    color: var(--accent-red);
    text-decoration: underline;
}

.case-img{
    margin-top: 1.5em;
    border: solid 1px var(--grey70);
    width: 100%;
    height: 8em;
    object-fit: cover;
}

.case-cta{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2em;
    margin-bottom: 0.5em;
}

.case-cta .arrow-right{
    fill: var(--accent-red);
}

.case-card{
    margin-bottom: 1em;
}

.square{
    display: none;
}

/* Contact */
.contact{
    padding: var(--pad-section);
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.contact-title{
    font: var(--font-title);
    color: var(--grey99);
}

.contact-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    color: var(--grey70);
    font: var(--font-subtitle);
}

.email{
    color: var(--accent-red);
    font-weight: bold;
    text-decoration: underline;
}

.phonenumber{
    font-weight: bold;
} 

.contact-form-text{
    font: var(--font-subtitle);
    color: var(--grey99)
}

/* Related */
.related{
    padding: var(--pad-section);
    display: flex;
    flex-direction: column;
    gap: 2em;
    /* background-color: var(--grey70); */
    background-color: var(--accent-red);
}

.related-title{
    font: var(--font-title);
    color: var(--bg-grey);
}

.related-articles{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.related-card{
    padding: 0.5em 0.6em;
    border: solid 2px var(--grey70);
    /* border-radius: 0.1em 0.6em; */
    border-radius: 0.3em 0.3em 0 0;
    background-color: var(--bg-grey);
}

.related-card-heading{
    font: var(--font-subtitle);
    font-family: AktivBD;
    color: var(--grey99);
}

.related-cta{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2em;
    margin-bottom: 0.5em;
}

.related-cta .arrow-right{
    fill: var(--accent-red);
}

.related-anchor{
    color: var(--accent-red);
    text-decoration: underline;
    font: var(--font-abstract);
}

/* Footer navigation */
.footer-nav{
    padding: var(--pad-section);
    background-color: var(--grey99);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.footer-list{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
}

.footer-heading{
    font: var(--font-title);
    font-size: 1.2em;
    color: var(--grey20);
}

.footer-sublist{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    align-items: center;
    text-align: center;
}

.footer-sublist a{
    color: var(--grey50);
    font: var(--font-abstract);
}

/* Tagline */
.tagline{
    padding: var(--pad-section);
    background-color: var(--bg-grey);
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.tagline-heading{
    display: flex;
    flex-direction: column;
}

.tagline-title{
    font: var(--font-title);
    color: var(--grey99);
}

.tagline-subtitle{
    font: var(--font-subtitle);
    color: var(--grey70);
}

.tagline-explanation{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.tagline-text{
    font: var(--font-abstract);
    color: black;
}

.tagline-span{
    color: var(--accent-red);
}

/* Credentials */
.credentials{
    padding: var(--pad-section);
    background-color: var(--grey99);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;
}

.credentials-text{
    font: var(--font-abstract);
    color: var(--grey50);
}

.main-contactinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;
}

.credentials-contactinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.credentials-underline{
    text-decoration: underline;
}
