/* Variables */
:root{
    --grey99: #3C3B34;
    --grey70: #9B9A92;
    --grey50: #C6C5BD;
    --grey20: #EAEAE6;
    --bg-grey: #F6F6F4;
    --accent-red: #FF6B6B;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* Font import */
@font-face {
    font-family: 'AktivBD';
    src: url(../assets/Font/AktivGrotesk_Bd.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'AktivLT';
    src: url(../assets/Font/AktivGrotesk_Lt.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: 'AktivMD';
    src: url(../assets/Font/AktivGrotesk_Md.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'AktivRG';
    src: url(../assets/Font/AktivGrotesk_Rg.ttf);
    font-weight: normal;
}

/* General */
html{
    scroll-behavior: smooth;
}

body{
    font: 100%/1.4 AktivRG, sans-serif;
    background-color: var(--bg-grey);
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.1em 1.1em;
}

#logo{
    width: 3em;
}

.menu-label{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-size: 0.8em;
    gap: 0.3em;
}

.menu-btn{
    border: none;
    background-color: transparent;
}

.menu-icon{
    color: var(--grey99);
}

.topnav{
    display: none;
}

/* Main */
main{
    padding: 0.6em;
}

/* Hero */
#hero{
    display: flex;
    flex-direction: column;
    padding: 2.5em 0.5em;
}

#hero .intro{
    display: flex;
    flex-direction: column;
}

#hero .intro h1{
    font: 1.7em AktivBD, sans-serif;
    color: var(--grey99);
    margin-bottom: 0.2em;
    text-align: left;
}

#hero .intro .p-intro{
    font: 1.1em AktivLT, sans-serif;
    color: var(--grey70);
    margin-bottom: 2em;
}

#hero .abstract{
    color: black;
    font: 0.95em AktivRG, sans-serif;
    margin-bottom: 1.4em;
}

#hero .cta{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5em;
}

#hero .cta a{
    text-decoration: underline;
}

#hero .primary a{
    color: var(--grey70);
}

#hero .secondary a{
    color: var(--accent-red);
}